//= _header.html

<div class="wrapper">

    <div class="first-screen">
        <div class="container full-height">
            <div class="row full-height">
                <div class="col-lg-6 col-md-8 col-xs-12 full-height">
                    <div class="first-screen-box">
                        <div class="main-avatar">
                            <img src="media/first-screen/img_1.jpg" alt="">
                        </div>
                        <div class="about-me">
                            <div class="about-title">
                                <h3>I’m Richard Brown. I design mobile and web experiences.</h3>
                            </div>
                            <div class="opacity-box">
                                <p>I am a UI\UX designer located in Hartford, Connecticut. I currently
                                    work as a part time Remote Junior Web Designer for Coolor, located
                                    in Las Vegas. I am looking to take on more work and to increase my
                                    skills as a UI\UX enthusiast.</p>
                            </div>
                        </div>
                        <div class="about-me-info hidden-sm hidden-xs">
                            <p class="info-row">
                                <span class="span-title">Phone</span>
                                <span class="opacity-box">
                                    <a href="tel:+1-203-324-5400">+1-203-324-5400</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Email</span>
                                <span class="opacity-box">
                                    <a href="mailto:richarddesigner@gmail.com">richarddesigner@gmail.com</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Address</span>
                                <span class="opacity-box">
                                    <a class="map-link" href="open-google-map">3113 Lochmere Avenue, Weymouth, MA, United States</a>
                                </span>
                            </p>
                            <p class="info-row">
                                <span class="span-title">Social</span>
                                <span>
                                    <a target="_blank" href="https://www.facebook.com/" class="fa fonts-icons fa-facebook"></a>
                                    <a target="_blank" href="https://twitter.com/" class="fa fonts-icons fa-twitter"></a>
                                    <a target="_blank" href="https://www.instagram.com/" class="fa fonts-icons fa-instagram"></a>
                                    <a target="_blank" href="https://dribbble.com/" class="fa fonts-icons fa-dribbble"></a>
                                    <a target="_blank" href="https://www.behance.net/" class="fa fonts-icons fa-behance"></a>
                                </span>
                            </p>
                        </div>
                        <div class="first-screen-buttons">
                            <a class="site-btn btn-theme-white" href="#" data-toggle="modal" data-target="#contact-me-modal">Contact me</a>
                            <a class="site-btn btn-theme-white-tr hidden-sm hidden-xs" href="download/Resume.pdf" download>Download cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="projects-section section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3>Projects</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="projects-filter">
                        <ul class="list-inline">
                            <li class="active" data-filter="*">All projects</li>
                            <li data-filter=".web-apps">Web apps design</li>
                            <li data-filter=".mob-apps">Mobile apps design</li>
                            <li data-filter=".prototyping">Prototyping</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row projects-wrapper">
                <div class="col-sm-6 project-item web-apps">
                    <a href="02_richard_project.html" class="project">
                            <div class="project-img">
                                <img src="media/projects/img_4.jpg" alt="">
                            </div>
                            <div class="project-name">
                                <h5>UI\UX design for Shopper’s Android app</h5>
                            </div>
                            <div class="project-date">
                                <p>April, 2017</p>
                            </div>
                        </a>
                </div>
                <div class="col-sm-6 project-item mob-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="media/projects/img_2.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Full UI redesign of my custom Android music player</h5>
                        </div>
                        <div class="project-date">
                            <p>March, 2017</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 project-item web-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="media/projects/img_5.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Redesign of MOOOV’s iOS app</h5>
                        </div>
                        <div class="project-date">
                            <p>December, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 project-item prototyping">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="media/projects/img_6.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>UI\UX design of small blogger social app</h5>
                        </div>
                        <div class="project-date">
                            <p>November, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 project-item mob-apps">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="media/projects/img_3.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Recipe book Android app UI design for small startup</h5>
                        </div>
                        <div class="project-date">
                            <p>August, 2016</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 project-item prototyping">
                    <a href="02_richard_project.html" class="project">
                        <div class="project-img">
                            <img src="media/projects/img_7.jpg" alt="">
                        </div>
                        <div class="project-name">
                            <h5>Personal page template UI\UX design</h5>
                        </div>
                        <div class="project-date">
                            <p>July, 2016</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="contacts-section section">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3>Contact</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="opacity-box contact-text">
                        <p>Are you working on something great? I would love to help make it happen! Drop me a
                            letter and start your project right now! Just do it. I will not spam you
                            on <br> e-mail or add to MailChimp list.</p>
                    </div>
                    <div class="about-me-info">
                        <p class="info-row">
                            <span class="span-title">Phone</span>
                            <span class="opacity-box">
                                <a href="tel:+1-203-324-5400">+1-203-324-5400</a>
                            </span>
                        </p>
                        <p class="info-row">
                            <span class="span-title">Email</span>
                            <span class="opacity-box">
                                <a href="mailto:richarddesigner@gmail.com">richarddesigner@gmail.com</a>
                            </span>
                        </p>
                        <p class="info-row">
                            <span class="span-title">Address</span>
                            <span class="opacity-box">
                                <a class="map-link" href="open-google-map">3113 Lochmere Avenue, Weymouth, MA, United States</a>
                            </span>
                        </p>
                        <p class="info-row">
                            <span class="span-title">Social</span>
                            <span>
                                <a target="_blank" href="https://www.facebook.com/" class="fa fonts-icons fa-facebook"></a>
                                <a target="_blank" href="https://twitter.com/" class="fa fonts-icons fa-twitter"></a>
                                <a target="_blank" href="https://www.instagram.com/" class="fa fonts-icons fa-instagram"></a>
                                <a target="_blank" href="https://dribbble.com/" class="fa fonts-icons fa-dribbble"></a>
                                <a target="_blank" href="https://www.behance.net/" class="fa fonts-icons fa-behance"></a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-wrapper">
                        <form id="contact-form" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name-input">Name</label>
                                        <input type="text"
                                               class="site-input name-input"
                                               id="name-input"
                                               placeholder="Your name"
                                               required
                                               data-validation-required-message="Invalid input">
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email-input">E-mail</label>
                                        <input type="email"
                                               class="site-input email-input"
                                               id="email-input"
                                               placeholder="Contact e-mail"
                                               required
                                               data-validation-email-message="Invalid input"
                                               data-validation-required-message="Invalid input">
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="textarea">Message</label>
                                        <textarea id="textarea"
                                                  class="site-input textarea"
                                                  placeholder="Project description"
                                                  required
                                                  data-validation-required-message="Invalid input"></textarea>
                                        <p class="help-block"></p>
                                        <p class="help-block-success">done</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="submit-holder">
                                        <input class="site-btn btn-theme-blue" type="submit" value="Send message">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

//= _footer.html